@charset "utf-8";

/* reset css */
body {
	font-family:"ヒラギノ角ゴ Pro W3","メイリオ","ＭＳ Ｐゴシック", Tahoma, Arial, sans-serif; 
    line-height: 1.4;
    color: #333;
	font-size: 12px;
}
body

,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,
form,fieldset,input,textarea,p,blockquote,th,td {
	margin:0;
	padding:0;
}
table {
	border-collapse:collapse;
	border-spacing:0;
}
fieldset,img {
	border:0;
}
address,caption,cite,code,dfn,em,strong,th,var {
	font-style:normal;
	font-weight:normal;
}
ol,ul {
	list-style:none;
}
caption,th {
	text-align:left;
}
h1,h2,h3,h4,h5,h6 {
	font-size:100%;
	font-weight:normal;
}
q:before,q:after {
	content:'';
}
abbr,acronym { border:0;
}

/*↑リセットCSS　ここから*/
.conteiner{
	background:url(../img/imagesbg.jpg) left top
}
div.contents{
	width:900px;
	margin:0 auto;
	border-left:2px solid #333;
	border-right:2px solid #333;
	background:#FFF;
}
div.header{
	overflow:hidden;
	margin-bottom:15px;
}
div.top_left{
	width:500px;
	float:left;
}
div.top_right{
	width:400px;
	margin-top:20px;
	float:left;
}
h1,h2{
	float:left;
}
h1{
	margin:25px 0 0 5px;
}
h2{
	margin:10px 10px 10px 35px;
}
.header p{
	text-align:right;
	margin:15px 30px;
}
.nav ul{
	overflow:hidden;
	margin-bottom:15px;
}
.nav ul li{
	float:left;
	width:180px;
	height:56px;
}
.nav ul li a{
	display:block;
	width:180px;
	height:56px;
}

.top{
	text-indent:-333em;
	background:url(../img/navi.gif) left top no-repeat;
}

.instructor{
	text-indent:-333em;
	background:url(../img/navi.gif) -180px top no-repeat;
}

.tariff_system{
	text-indent:-333em;
	background:url(../img/navi.gif) -360px top no-repeat;
}

.inquiry{
	text-indent:-333em;
	background:url(../img/navi.gif) -540px top no-repeat;
}

.answer{
	text-indent:-333em;
	background:url(../img/navi.gif) -720px top no-repeat;
}
/*hover*/
.top a:hover{
	text-indent:-333em;
	background:url(../img/navi_hover.gif) left top no-repeat;
}

.instructor a:hover{
	text-indent:-333em;
	background:url(../img/navi_hover.gif) -180px top no-repeat;
}

.tariff_system a:hover{
	text-indent:-333em;
	background:url(../img/navi_hover.gif) -360px top no-repeat;
}

.inquiry a:hover{
	text-indent:-333em;
	background:url(../img/navi_hover.gif) -540px top no-repeat;
}

.answer a:hover{
	text-indent:-333em;
	background:url(../img/navi_hover.gif) -720px top no-repeat;
}
/*88888888888888888888888888888888888888888888888888888888888888888888888*/

.fade{
	margin-bottom:15px;
}
/*5555555555555555555555555555555555555555555555*/
.triangle ,.triangle2 {
	margin: 0px 50px 20px 55px;
	padding:10px;
		/*角丸*/
-moz-border-radius: 14px;
-webkit-border-radius: 14px;
border-radius: 14px;
/*IE 7 AND 8 DO NOT SUPPORT BORDER RADIUS*/
-moz-box-shadow: 0px 0px 5px #000000;
-webkit-box-shadow: 0px 0px 5px #000000;
box-shadow: 0px 0px 5px #000000;
/*IE 7 AND 8 DO NOT SUPPORT BLUR PROPERTY OF SHADOWS*/

}

p.bar {
	margin-left: 45px;
}
.session{
	overflow:hidden;
	padding:10px;

}

#buru1 {
	float: right;
	margin-right: 150px;
}
.session p{
	margin-bottom:10px;
	padding-left:10px;
}
h5{
	width:500px;
	font-size:18px;
	padding:0px 0px 0px 30px;
	margin-bottom:15px;
	font-weight:bold;
	border-left:5px #0066FF solid;
	border-bottom:2px #0066FF solid;

}
h6 {
	width: 460px;
	height: 120px;
	margin: 30px 0 0 100px;
}
#main_twitter{
	overflow:hidden;
   margin: 0px 50px 20px 55px;
    padding: 10px;
}
#twitter-widget-0 {
	width:100%;
}

div.triangle p{
	text-align:center;
}
div.triangle2 p{
	padding-left:20px;
	background:url(../img/triangle.gif) left top no-repeat;
}
/*55555555555555555555*/
#visual {
margin: 45px;
}
/* #visual .fade {
position: relative;
width: 800px;
height: 300px;
margin-left: 49px;
}

#visual .fade img {
position: absolute;
left: 0;
top: 0;
} */
/*5555555555*/

.table_style table{
width: 795px;
margin: 0px 50px 20px 55px;
border-collapse: separate;
border-spacing: 0px;
border-top: 1px solid #000;
border-left: 1px solid #000;
}
.table_style thead tr th{
padding: 4px;
text-align: center;
vertical-align: top;
color: #444;
background-color: #DDD;
border-right: 1px solid #000;
border-bottom: 1px solid #000;
font-weight: bold;
width: 16%;
}
.table_style tbody tr td{
padding: 4px;
background-color: #fafafa;
border-right: 1px solid #000;
border-bottom: 1px solid #000;
}

a[href^="tel:"] {
cursor: default;
}

.schedule {
margin-bottom: 10px;
}

.schedule img {
padding-left: 30px;
width: 93%;
}

.sponsor_list {
	padding-left: 80px;
}

.sponsor_list h3 {
    font-size: 32px;
    line-height: 38px;
    margin: 0px 50px 20px 0px;
}

.sponsor_list p {
    font-size: 18px;
    margin-bottom: 20px;
}

.sponsor_list li img  {
	width: 200px;
	padding: 10px;
}