@charset "utf-8";

/* reset css */
body {
	font-family:"ヒラギノ角ゴ Pro W3","メイリオ","ＭＳ Ｐゴシック", Tahoma, Arial, sans-serif; 
    line-height: 1.4;
    color: #333;
	font-size: 12px;
}
body

,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,
form,fieldset,input,textarea,p,blockquote,th,td {
	margin:0;
	padding:0;
}
table {
	border-collapse:collapse;
	border-spacing:0;
}
fieldset,img {
	border:0;
}
address,caption,cite,code,dfn,em,strong,th,var {
	font-style:normal;
	font-weight:normal;
}
ol,ul {
	list-style:none;
}
caption,th {
	text-align:left;
}
h1,h2,h3,h4,h5,h6 {
	font-size:100%;
	font-weight:normal;
}
q:before,q:after {
	content:'';
}
abbr,acronym { border:0;
}

/*↑リセットCSS　ここから*/
.conteiner{
	background:url(../img/imagesbg.jpg) left top
}
div.contents{
	width:900px;
	margin:0 auto;
	border-left:2px solid #333;
	border-right:2px solid #333;
	background:#FFF;
}
div.header{
	overflow:hidden;
	margin-bottom:15px;
}
div.top_left{
	width:500px;
	float:left;
}
div.top_right{
	width:400px;
	margin-top:20px;
	float:left;
}
h1,h2{
	float:left;
}
h1{
	margin:25px 0 0 5px;
}
h2{
	margin:10px 10px 10px 35px;
}
.header p{
	text-align:right;
	margin:15px 30px;
}
.nav ul{
	overflow:hidden;
	margin-bottom:15px;
}
.nav ul li{
	float:left;
	width:180px;
	height:56px;
}
.nav ul li a{
	display:block;
	width:180px;
	height:56px;
}

.top{
	text-indent:-333em;
	background:url(../img/navi.gif) left top no-repeat;
}

.instructor{
	text-indent:-333em;
	background:url(../img/navi.gif) -180px top no-repeat;
}

.tariff_system{
	text-indent:-333em;
	background:url(../img/navi.gif) -360px top no-repeat;
}

.inquiry{
	text-indent:-333em;
	background:url(../img/navi.gif) -540px top no-repeat;
}

.answer{
	text-indent:-333em;
	background:url(../img/navi.gif) -720px top no-repeat;
}
/*hover*/
.top a:hover{
	text-indent:-333em;
	background:url(../img/navi_hover.gif) left top no-repeat;
}

.instructor a:hover{
	text-indent:-333em;
	background:url(../img/navi_hover.gif) -180px top no-repeat;
}

.tariff_system a:hover{
	text-indent:-333em;
	background:url(../img/navi_hover.gif) -360px top no-repeat;
}

.inquiry a:hover{
	text-indent:-333em;
	background:url(../img/navi_hover.gif) -540px top no-repeat;
}

.answer a:hover{
	text-indent:-333em;
	background:url(../img/navi_hover.gif) -720px top no-repeat;
}
/*88888888888888888888888888888888888888888888888888888888888888888888888*/
/*5555555555555555555555555555555555555555555555*/
.map{
	float:left;
	width:300px;
	height:220px;
	padding:10px;
}
p.span{
	color:#191970;
	margin:10px 0 20px 0;
}
span{
	font-size:22px;
	font-weight:bold;
}
h3{
	font-size:22px;
	font-weight:bold;
	color:#191970;
}
.inquiry_list{
	overflow:hidden;
	margin:0px 35px 20px 35px;
	padding:10px;
		/*角丸*/
-moz-border-radius: 14px;
-webkit-border-radius: 14px;
border-radius: 14px;
/*IE 7 AND 8 DO NOT SUPPORT BORDER RADIUS*/
-moz-box-shadow: 0px 0px 5px #000000;
-webkit-box-shadow: 0px 0px 5px #000000;
box-shadow: 0px 0px 5px #000000;
/*IE 7 AND 8 DO NOT SUPPORT BLUR PROPERTY OF SHADOWS*/

}
.inquiry_list img{
float: left;
padding: 2px 2px;
margin: 20px 20px;
background-color: #333;
}
.inquiry_list p,.inquiry_list01 p{
	margin-left:20px;
	font-size:16px;
	font-weight:bold;
}
.inquiry_list01{
	overflow:hidden;
	margin:0px 35px 20px 35px;
	padding:10px;
		/*角丸*/
-moz-border-radius: 14px;
-webkit-border-radius: 14px;
border-radius: 14px;
/*IE 7 AND 8 DO NOT SUPPORT BORDER RADIUS*/
-moz-box-shadow: 0px 0px 5px #000000;
-webkit-box-shadow: 0px 0px 5px #000000;
box-shadow: 0px 0px 5px #000000;
/*IE 7 AND 8 DO NOT SUPPORT BLUR PROPERTY OF SHADOWS*/

}
.inquiry_list01 p{
	margin-bottom:10px;
}
.inquiry_list01 a img{
	float:right;
	margin:30px 10px 20px 10px;
}