@charset "utf-8";

/* reset css */
body {
	font-family:"ヒラギノ角ゴ Pro W3","メイリオ","ＭＳ Ｐゴシック", Tahoma, Arial, sans-serif; 
    line-height: 1.4;
    color: #333;
	font-size: 12px;
}
body

,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,
form,fieldset,input,textarea,p,blockquote,th,td {
	margin:0;
	padding:0;
}
table {
	border-collapse:collapse;
	border-spacing:0;
}
fieldset,img {
	border:0;
}
address,caption,cite,code,dfn,em,strong,th,var {
	font-style:normal;
	font-weight:normal;
}
ol,ul {
	list-style:none;
}
caption,th {
	text-align:left;
}
h1,h2,h3,h4,h5,h6 {
	font-size:100%;
	font-weight:normal;
}
q:before,q:after {
	content:'';
}
abbr,acronym { border:0;
}

/*↑リセットCSS　ここから*/
.conteiner{
	background:url(../img/imagesbg.jpg) left top
}
div.contents{
	width:900px;
	margin:0 auto;
	border-left:2px solid #333;
	border-right:2px solid #333;
	background:#FFF;
}
div.header{
	overflow:hidden;
	margin-bottom:15px;
}
div.top_left{
	width:500px;
	float:left;
}
div.top_right{
	width:400px;
	margin-top:20px;
	float:left;
}
h1,h2{
	float:left;
}
h1{
	margin:25px 0 0 5px;
}
h2{
	margin:10px 10px 10px 35px;
}
.header p{
	text-align:right;
	margin:15px 30px;
}
.nav ul{
	overflow:hidden;
	margin-bottom:15px;
}
.nav ul li{
	float:left;
	width:180px;
	height:56px;
}
.nav ul li a{
	display:block;
	width:180px;
	height:56px;
}

.top{
	text-indent:-333em;
	background:url(../img/navi.gif) left top no-repeat;
}

.instructor{
	text-indent:-333em;
	background:url(../img/navi.gif) -180px top no-repeat;
}

.tariff_system{
	text-indent:-333em;
	background:url(../img/navi.gif) -360px top no-repeat;
}

.inquiry{
	text-indent:-333em;
	background:url(../img/navi.gif) -540px top no-repeat;
}

.answer{
	text-indent:-333em;
	background:url(../img/navi.gif) -720px top no-repeat;
}
/*hover*/
.top a:hover{
	text-indent:-333em;
	background:url(../img/navi_hover.gif) left top no-repeat;
}

.instructor a:hover{
	text-indent:-333em;
	background:url(../img/navi_hover.gif) -180px top no-repeat;
}

.tariff_system a:hover{
	text-indent:-333em;
	background:url(../img/navi_hover.gif) -360px top no-repeat;
}

.inquiry a:hover{
	text-indent:-333em;
	background:url(../img/navi_hover.gif) -540px top no-repeat;
}

.answer a:hover{
	text-indent:-333em;
	background:url(../img/navi_hover.gif) -720px top no-repeat;
}
/*88888888888888888888888888888888888888888888888888888888888888888888888*/

.fade{
	padding:0px 50px;
	margin-bottom:20px;
}
/*5555555555555555555555555555555555555555555555*/
.main_bottom{
	margin:0px 35px 20px 35px;
	padding:10px;
		/*角丸*/
-moz-border-radius: 14px;
-webkit-border-radius: 14px;
border-radius: 14px;
/*IE 7 AND 8 DO NOT SUPPORT BORDER RADIUS*/
-moz-box-shadow: 0px 0px 5px #000000;
-webkit-box-shadow: 0px 0px 5px #000000;
box-shadow: 0px 0px 5px #000000;
/*IE 7 AND 8 DO NOT SUPPORT BLUR PROPERTY OF SHADOWS*/

}
.main_left{
	float:left;
	width:355px;
	height:145px;
	margin:0px 0px 40px 70px;
}
.main_right{
	float:left;
	width:355px;
	height:145px;
	margin:0px 0px 40px 50px;
	}
.main_bottom{
	clear:both;
}

.main_left p,.main_right p,.main_bottom p{
	text-align:left;
	font-size:16px;
	margin:10px;
}
.main_left p,.main_right p{
	font-weight:bold;
}

.triangle {
	margin: 0px 50px 20px 55px;
	padding: 10px;
	/*角丸*/
	-moz-border-radius: 14px;
	-webkit-border-radius: 14px;
	border-radius: 14px;
	/*IE 7 AND 8 DO NOT SUPPORT BORDER RADIUS*/
	-moz-box-shadow: 0px 0px 5px #000000;
	-webkit-box-shadow: 0px 0px 5px #000000;
	box-shadow: 0px 0px 5px #000000;
	/*IE 7 AND 8 DO NOT SUPPORT BLUR PROPERTY OF SHADOWS*/
}


.table_style table {
	width: 795px;
	margin: 0px 50px 20px 55px;
	border-collapse: separate;
	border-spacing: 0px;
	border-top: 1px solid #000;
	border-left: 1px solid #000;
}

.table_style thead tr th {
	padding: 4px;
	text-align: center;
	vertical-align: top;
	color: #444;
	background-color: #DDD;
	border-right: 1px solid #000;
	border-bottom: 1px solid #000;
	font-weight: bold;
}

	.table_style tbody tr th {
	padding: 4px;
	text-align: center;
	vertical-align: top;
	color: #444;
	background-color: #DDD;
	border-right: 1px solid #000;
	border-bottom: 1px solid #000;
	font-weight: bold;
}

.table_style tbody tr td {
	padding: 4px;
	background-color: #fafafa;
	border-right: 1px solid #000;
	border-bottom: 1px solid #000;
}
