	<div class="header">
		<div class="top_left">
			<h2><a href="/"><img src="img/logo.gif" width="94" height="90" alt="LDS" /></a></h2>
			<h1><a href="/"><img src="img/logo2.gif" width="353" height="78" alt="LionDanceSchool" /></a></h1>
		</div>
		<!--top_left end-->
<!--		<div class="top_right">
			<p><a href="mailform_clear.php"><img src="img/inquiry_bottom.gif" width="240" height="40" alt="お問い合わせボタン"  /></a></p>
		</div>-->
		<div class="top_right">
			<p>
			<span style="margin-right: 10px;">
				<script type="text/javascript" src="//media.line.me/js/line-button.js?v=20140411" ></script>
				<script type="text/javascript">
				 new media_line_me.LineButton({"pc":true,"lang":"ja","type":"d","text":"LionDanceSchoolは誰でもうまくなれるキッズスクール","withUrl":true});
				</script>
			</span>
		</div> 
	</div><!--header end-->
	<div class="nav">
		<ul>
			<li class="top"><a href="/">新着情報</a></li>
			<li class="instructor"><a href="instructor">インストラクター</a></li>
			<li class="tariff_system"><a href="tariff_system">料金システム</a></li>
			<li class="inquiry"><a href="inquiry">お問い合わせアクセス</a></li>
			<li class="answer"><a href="answer">スクールQ＆A</a></li>
		</ul>
	</div><!--nav end-->
